html, body {
  padding: 0;
  margin: 0;
  color: #111111;
  font-family: sans-serif;
}

body {
  /* Avoid text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#side-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background-color: #FFFFFF;
  z-index: 10;
  overflow-y: auto;
  max-height: 100vh;
}

#history {
  font-size: 80%;
}

a {
  color: #3477CC;
  text-decoration: none;
}

a:hover {
  color: #132C75;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}

.icon-before {
  padding-left: 30px;
  background-image: url('../res/sprite.png');
  background-repeat: no-repeat;
}

#close-side-bar {
  /* reset button styles */
  padding: 0;
  background-color: transparent;
  margin: 0;
}

#center-viewport, .drag-button {
  padding-left: 30px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-image: url('../res/sprite.png');
}

.drag-button {
  background-position: 3px -198px;
}

#center-viewport {
  background-position: 3px -78px;
}

.center-button, .edit-button {
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-image: url('../res/sprite.png');
}

.center-button {
  background-position: center -77px;
}

.edit-button {
  background-position: center -436px;
}

.selected-object .center-button {
  background-color: #132C75;
}

.pause-button {
  background-position: 3px -352px;
}

.play-button {
  background-position: 3px -392px;
}

#open-settings-dialog {
  background-position: 3px -512px;
}

#open-new-object-dialog {
  background-position: 3px -32px;
}

#serialize-button {
  background-position: 3px -232px;
}

#open-scene {
  background-position: 3px -472px;
}

#open-about {
  background-position: 3px 8px;
}

#open-details {
  background-position: 3px -152px;
}

#open-side-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  background-color: #EEEEEE;
  background-position: center -312px;
  background-image: url('../res/sprite.png');
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #999999;
  z-index: 9;
}

#canvas, #text-canvas {
  display: block;
  position: absolute;
  top: 0;
}

#canvas {
  background-color: #000000;
  z-index: 5;
}

#text-canvas {
  z-index: 6;
}

#scene-name {
  margin: 5px 0;
  padding: 0;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background-position: center -115px;
  background-image: url('../res/sprite.png');
}

.selected-object {
  background: #EEEEEE;
}

.dialog {
  overflow-y: auto;
  z-index: 20;
  border-radius: 3px;
}

.dialog-open {
  display: block;
}

.dialog-closed, .side-bar-closed, .hidden {
  display: none;
}

.dialog .item {
  border-bottom: 1px solid #DDDDDD;
  padding: 10px;
}

.dialog .group-item {
  margin-bottom: 10px;
}

.dialog .item:last-child {
  background: #DDDDDD;
  display: flex;
}

.description, #drop-area {
  color: #555555;
  font-size: 90%;
}

.alert {
  color: #FF3311;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 0;
}

.dialog {
  width: 50vw;
  position: relative;
  left: 25vw;
  max-height: 90%;
  background: #FFFFFF;
}

h3 {
  color: #3477CC;
  text-align: center;
}

h5 {
  padding-left: 10px;
}

.object-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.object-list-item-before, .details-list-item-before {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 5px;
}

.details-list-item-before {
  cursor: pointer;
  margin: 0 5px;
}

button {
  border: 0;
  border-radius: 2px;
  padding: 4px 10px;
  cursor: pointer;
  margin: 5px;
  color: #DDDDDD;
  background: #3477CC;
}

button:hover {
  color: #FFFFFF;
}

.unit-push-button {
  margin: 0;
  display: inline;
  border-radius: 0;
  background-color: #555555;
  padding: 3px 7px 3px 7px;
}

.unit-push-button:last-of-type {
  border-radius: 0 2px 2px 0;
}

.sub {
  font-size: 70%;
  position: relative;
  top: 2px;
}

.unit-push-button.pushed {
  background-color: #111111;
}

input {
  border: 1px solid #555555;
  padding: 3px;
}

input:focus {
  border-color: #3477CC;
}

.dialog-input-invalid {
  border-color: #FF6666;
}

.main-button {
  border-bottom: 1px solid #EEEEEE;
  cursor: pointer;
  color: #555555;
  height: 40px;
  line-height: 40px;
  font-size: 90%;
}

.main-button:hover, .main-button:focus {
  color: #000000;
}

#drop-area {
  margin-top: 10px;
  border: 1px dashed #888888;
  padding: 5px;
  text-align: center;
}

@media (max-width: 900px) {
  #side-bar {
    width: 50%;
  }
  .dialog {
    width: 70vw;
    left: 15vw;
    border: 1px solid #DDDDDD;
  }
}

@media (max-width: 400px) {
  #side-bar {
    width: 95%;
  }
  .dialog {
    width: 90vw;
    left: 5vw;
  }
}
