html, body {
  padding: 0;
  margin: 0;
  color: #111111;
  font-family: sans-serif;
}

aside#side-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background-color: #FFFFFF;
  z-index: 2;
}

#canvas {
  display: block;
  background-color: #000000;
  position: absolute;
  top: 0;
  z-index: 1;
}

.selected-object {
  font-weight: bold;
}

.dialog {
  overflow-y: auto;
  z-index: 3;
}

.dialog-open {
  display: block;
}

.dialog-closed {
  display: none;
}

.dialog .item {
  border-bottom: 1px solid #DDDDDD;
  padding: 10px;
}

.dialog .item:last-child {
  background: #DDDDDD;
  display: flex;
}

.description {
  color: #555555;
  font-size: 90%;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 0;
}

.dialog {
  width: 50vw;
  position: relative;
  left: 25vw;
  max-height: 90%;
  background: #FFFFFF;
}

h3 {
  color: #3477CC;
  text-align: center;
}

.object-list-item {
  height: 30px;
  cursor: pointer;
}

button {
  border: 0;
  border-radius: 2px;
  padding: 4px 10px;
  cursor: pointer;
  margin: 5px;
  color: #DDDDDD;
  background: #3477CC;
}

button:hover {
  color: #FFFFFF;
}

input {
  border: 1px solid #666666;
  padding: 3px;
}

input:focus {
  border-color: #3477CC;
}

.dialog-input-invalid {
  border-color: #FF6666;
}

.main-button {
  border-bottom: 1px solid #EEEEEE;
  cursor: pointer;
  color: #444444;
  font-size: 90%;
  padding: 10px;
}

.main-button:hover {
  color: #000000;
}
