html, body {
  padding: 0;
  margin: 0;
  color: #111111;
  font-family: sans-serif;
}

body {
  /* Preload the play icon. */
  background-image: url('../res/icon_play.png');
  background-repeat: no-repeat;
  background-position: -9999px -9999px;

  /* Avoid text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#side-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background-color: #FFFFFF;
  z-index: 10;
  overflow-y: auto;
  max-height: 100vh;
}

a {
  color: #3477CC;
  text-decoration: none;
}

a:hover {
  color: #132C75;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}

div.icon-before {
  background-position: 3px center;
  padding-left: 30px;
  background-repeat: no-repeat;
}

.center-button {
  background-position: center;
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-image: url('../res/icon_center.png');
}

.edit-button {
  background-position: center;
  height: 30px;
  width: 30px;
  line-height: 30px;
  padding: 0;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-image: url('../res/icon_options.png');
}

.selected-object .center-button {
  background-color: #132C75;
}

.pause-button {
  background-image: url('../res/icon_pause.png');
}

.play-button {
  background-image: url('../res/icon_play.png');
}

#open-settings-dialog {
  background-image: url('../res/icon_settings.png');
}

#open-new-object-dialog {
  background-image: url('../res/icon_add.png');
}

#serialize-button {
  background-image: url('../res/icon_export.png');
}

#open-scene {
  background-image: url('../res/icon_scene.png');
}

#open-about {
  background-image: url('../res/icon_about.png');
}

#open-side-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  background-color: #EEEEEE;
  background-image: url('../res/icon_menu.png');
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #999999;
  z-index: 9;
}

#canvas {
  display: block;
  background-color: #000000;
  position: absolute;
  top: 0;
  z-index: 5;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background-image: url('../res/icon_close.png');
}

.selected-object {
  background: #EEEEEE;
}

.dialog {
  overflow-y: auto;
  z-index: 20;
  border-radius: 3px;
}

.dialog-open {
  display: block;
}

.dialog-closed, .side-bar-closed, .hidden {
  display: none;
}

.dialog .item {
  border-bottom: 1px solid #DDDDDD;
  padding: 10px;
}

.dialog .item:last-child {
  background: #DDDDDD;
  display: flex;
}

.description {
  color: #555555;
  font-size: 90%;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 0;
}

.dialog {
  width: 50vw;
  position: relative;
  left: 25vw;
  max-height: 90%;
  background: #FFFFFF;
}

h3 {
  color: #3477CC;
  text-align: center;
}

h5 {
  padding-left: 10px;
}

.object-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.object-list-item-before {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 5px;
}

button {
  border: 0;
  border-radius: 2px;
  padding: 4px 10px;
  cursor: pointer;
  margin: 5px;
  color: #DDDDDD;
  background: #3477CC;
}

button:hover {
  color: #FFFFFF;
}

input {
  border: 1px solid #555555;
  padding: 3px;
}

input:focus {
  border-color: #3477CC;
}

.dialog-input-invalid {
  border-color: #FF6666;
}

.main-button {
  border-bottom: 1px solid #EEEEEE;
  cursor: pointer;
  color: #555555;
  font-size: 90%;
  padding: 10px;
}

.main-button:hover {
  color: #000000;
}

@media (max-width: 900px) {
  #side-bar {
    width: 50%;
  }
  .dialog {
    width: 70vw;
    left: 15vw;
    border: 1px solid #DDDDDD;
  }
}

@media (max-width: 400px) {
  #side-bar {
    width: 95%;
  }
  .dialog {
    width: 90vw;
    left: 5vw;
  }
}
